/** 사관학교 **/
.bg-green{
    background-color: rgb(20, 70, 20);
}

.mp-up{
    font-size:6vw;
    font-weight: 700;
}

.p-up{
    position: relative;
}

.p-keyword{
    color: black !important;
}
.n-menu{
    position: absolute;
    top:20px;
    right:1%;
    height: 35px;
    margin-right: 3%;
    aspect-ratio: 1/1;
    background-image: url('../img/메뉴버튼.png');
    background-size: 100% 100%;
    border:none;
}

.n-logo-box{
    position: absolute;
    top:8%;
    left:10px;
}

.n-box{
    position: fixed;
    top:0%;
    left:0%;
    display: flex;
    width: 100%;
    height:70px;
    z-index: 9999;

}

.n-s-container{
    position: absolute;
    top:70px;
    left:0%;
    background-color: white;
    overflow: scroll;
    width: 100%;
    height: 90vh;
}

.n-s-menu1{
}

.n-ss-menu1{
    position: relative;
    background-color: rgb(20, 70, 20);
    width: 100%;
    aspect-ratio: 1/0.06;
}

.n-ss-menu1-p1{
    color: white;
    font-size: 4vw;
    position:absolute;
    top:0;
    left:0;
}

.n-ss-menu1-p2{
    color: white;
    font-size: 4vw;
    position:absolute;
    top:0;
    right:0;
}

.n-sss-menu1{
    text-align: center;
}

.n-p{
    font-size: 4vw;
    font-weight: 700;
    display: block;
    color:black;
}

.n-s-d{
    width: 100%;
    aspect-ratio: 1/0.06;
}

.logo-image{
    margin-top: 15px;
    margin-left: 15px;
    height:50%;
    width: 100%;
}

.logo-image-m{
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height:35px;
    width: 100PX;
}

.m-menu-scroll{
    overflow: scroll;
}

.top-menu-container{
    position: absolute;
    top: 70px;
    left: 0;
    width:100%;
    aspect-ratio: 5/1;
    background-color: white;
    z-index: 2;
    display:none;
}

.top-menu1{
    float:right;
    width:10%;
    height:100%;
    border-right: 2px solid black;
}

.top-menu2{
    float:right;
    width:10%;
    height:100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.top-mainmenu-box{
    width:100%;
    height: 70px;
    text-align: center;
}

.c-logo-box{
    float:left;
    width:100px;
    height:70px;
}

.c-right-menu-container{
    float:right;
    width:50%;
    height:100%;
}

.c-right-menu{
    float:right;
    width:25%;
    height:100%;

}

.c-right-menu:hover{
    background-color: rgb(214, 214, 214);
}

.c-right-menu-p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

