/********** Template CSS **********/
@font-face {
    font-family: '기본';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '기본';
    src: url('../font/calibri-regular.ttf');
    unicode-range: U+0041-005A, U+0061-007A;
}

body{
    font-family: '기본';
}

:root {
    --light: #e2ecee;
    --dark: #181d38;
}


.text-black{
    color:black;
}

.banner-empty-box{
    width:100%;
    height:70px;
}

.banner-head{
    position: relative;
    width:100%;
    aspect-ratio: 1/0.4;
    background-image: url('../img/군인2.jpg');
    background-size: cover;
    background-position-y: -100px;
    display: flex;
}

.banner-head-m{
    position: relative;
    width:100%;
    aspect-ratio: 1/0.4;
    background-image: url('../img/군인2.jpg');
    background-size: cover;
    display: flex;
}

.banner-p1{
    position: absolute;
    top: 0;
    left: 15px;
    font-size:3vw;
    font-weight: 700;
}

.banner-p2{
    position: absolute;
    top: 0;
    right: 15px;
    font-size:3vw;
    font-weight: 700;
}

.banner-p1-m{
    position: absolute;
    left: 15px;
    font-size:2vh;
    font-weight: 700;
}

.banner-p2-m{
    position: absolute;
    right: 15px;
    font-size:2vh;
    font-weight: 700;
}



.c-imaging{
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.c-img{
    width:100%;
    height:100%;
    filter: brightness(0.5);
}

.c-1{
    position: relative;
    width:100%;
    aspect-ratio: 2.4/1;
}

.b-box-2{
    position: absolute;
    top:0%;
    width:100%;
    height:100%;
    z-index: 5;
    display:flex;
    cursor: pointer;
}

.main-menu{
    position: relative;
    width: 25%;
    height: 100%;
    color:white;
}

.main-menu:hover{
    filter: brightness(0.7);
}

.dark{
    filter: brightness(0.7);
}

.b-menu{
    position: absolute;
    top:40%;
    left:30%;
    font-size: 3vw;
    font-weight: 700;
    z-index: 1;
}

.m1{
    background-image: url(../img/웹\ 메인메뉴1.png);
    background-size: 100% 100%;
}

.m2{
    background-image: url(../img/웹\ 메인메뉴2.png);
    background-size: 100% 100%;
}

.m3{
    background-image: url(../img/웹\ 메인메뉴3.png);
    background-size: 100% 100%;
}

.m4{
    background-image: url(../img/웹\ 메인메뉴4.png);
    background-size: 100% 100%;
}

.c-2{
    width: 100%;
}

.c-2-box{
    position: relative;
    width: 100%;
    aspect-ratio: 2.45/1;
    font-size: 11vw;
    font-weight: 700;
    cursor: pointer;
}

.c-2-cover{
    width:100%;
}

.cb1{
    background-image: url('../img/앱\ 메인메뉴11.png');
    background-size: 100% 100%;
}

.cb2{
    background-image: url('../img/앱\ 메인메뉴22.png');
    background-size: 100% 100%;
}

.cb3{
    background-image: url('../img/앱\ 메인메뉴33.png');
    background-size: 100% 100%;
}

.cb4{
    background-image: url('../img/앱\ 메인메뉴44.png');
    background-size: 100% 100%;
}

.c-3{
    position:relative;
    width:100%;
    aspect-ratio: 1/0.4;
}

.c-3-box{
    position: absolute;
    top:104%;
    left:40%;
    width:20%;
    aspect-ratio: 1/1;
    background-color: #334ad0;
    border-radius: 15px;
    border: 1px black solid;
    background-image: url('../img/돋보기.jpg');
    background-size: 100% 100%;
    box-shadow: 2px 2px 3px 2px #dadce0 inset;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
}

.p-menu{
    position: absolute;
    top: 40%;
    left: 70%;
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
}


.bottom-fixed-bar{
    position:fixed;
    bottom:0;
    width:100%;
    height:5%;
    background-color: #1e7352;
    z-index: 2;
}


.bottom-menu{
    position:relative;
    float:right;
    height:100%;
    width:13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-menu:hover{
    background-color: #699b37;
}

.bottom-word{
    margin: 0%;
    color:white;
    font-size: 1.8vw;
}

.bottom-word-m{
    position:absolute;
    top:25%;
    left:20%;
    color:white;
    font-size: 3.5vw;
}

.search-box{
    position: fixed;
    top:0%;
    left:-100%;
    background-color: white;
    width: 100%;
    aspect-ratio: 2/1;
    z-index: 10;
    transition: 1s;
}

.search-left{
    width:25%;
    height: 100%;
    background-color: #dedede;
    float: left;
}

.search-left-m{
    width:100%;
    height:100%;
}

.search-left-top-m{
    width:100%;
    aspect-ratio: 1/0.4;
}

.search-right{
    position: relative;
    width:75%;
    height:100%;
    background-color: #7f9b19;
    background-image: url("../img/군대검색배경1.jpg");
    background-size: cover;
    background-position-y: -200px;
    float: left;
}

.x-button-right{
    position: absolute;
    bottom:10px;
    right:10px;
    width:7%;
    aspect-ratio: 1/1;
    background-image:url('../img/뒤로가기.png');
    background-size: 100% 100%;
    border-radius: 50%;
}

.x-button-left{
    position: absolute;
    bottom:10px;
    left:10px;
    width:7%;
    aspect-ratio: 1/1;
    background-image:url('../img/리셋버튼.png');
    background-size: 100% 100%;
    border-radius: 50%;
}

.no-flag-box{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    display: none;
}

.penta{
    position: absolute;
    top:30%;
    left:37%;
    background-color: #000000;
    opacity: 0.6;
    width:25%;
    height:40%;
    clip-path: polygon(5% 0%,95% 0%,95% 60%,50% 100%,5% 60%);
}

.penta-p{
    position: absolute;
    top:70%;
    left:37%;
    font-weight: 700;
    font-size: 1.9vw;
    color: #000000;
}

.no-flag-box-m{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.penta-m{
    background-color: #000000;
    opacity: 0.6;
    width:40%;
    aspect-ratio: 1/1.2;
    clip-path: polygon(5% 0%,95% 0%,95% 60%,50% 100%,5% 60%);
}

.penta-p-m{
    font-weight: 700;
    font-size: 2.3vh;
    color: #000000;
}

.back-button{
    position: absolute;
    bottom:20px;
    right:20px;
    background-image: url('../img/뒤로가기.png');
    background-size: 100% 100%;
    width:12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0.5px black;
}


.s1{
    top: 8%;
    left: 5%;
}

.s2{
    top:8%;
    left:35%;
}

.s3{
    top:8%;
    left:65%;
}

.s4{
    top: 53%;
    left: 20%;
}

.s5{
    top:53%;
    left:51%
}

.white-filter{
    position: absolute;
    top:0;
    left: 0%;
    width: 100%;
    height:100%;
    background-color: white;
    opacity: 0.4;
}

.ic-1{
    color:rgb(70, 81, 168) !important;
}

.c-2-img-box{
    position: relative;
    width: 100%;
    background-size: cover;
}


.none_visible{
    display: none;
}

.fix1{
    position: fixed !important;
    top:70.7px;
}

.fix2{
    position: fixed !important;
    top:70.7px;
}

.fix3{
    position: fixed !important;
    top:70.7px;
}

.basic-setting1{
    margin-top: 0px;
}

.basic-setting2{
    margin-top: 0px;
}

.basic-setting3{
    margin-top: 0px;
}

.swiper {
    width: 600px;
    height: 300px;
}

.top-empty-box{
    height:70px;
    width: 100%;
}

.select1{
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    aspect-ratio: 10/1;
}

.select2{
    position:absolute;
    top:30%;
    left:10%;
    width:80%;
    aspect-ratio: 10/1;
}

.fade-search-button{
    position:absolute;
    top:60%;
    left:25%;
    width:50%;
    aspect-ratio: 2/1;
    background-color: white;
    text-align: center;
    font-size: 5vw;
}

.mini-search{
    position: fixed;
    bottom:3%;
    left:3%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url('../img/검색버튼\ .png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 3px 1px #5b5c5e;
}

.mini-search1{
    position: absolute;
    bottom: 3%;
    left: 1.5%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url('../img/검색버튼\ .png');
    background-size: 100% 100%;
    z-index: 2;
}

.mini-search1:hover{
    filter: brightness(0.6);
}

.fixleft{
    position: fixed;
    left:0% !important;
    top:70px !important;
    transition: 1s ease;
}

.fixleft1{
    position: fixed;
    left:0% !important;
    transition: 1s;
}

.search-left-top{
    width:100%;
    height:20%;
    background-image: url('../img/군대배너이미지1.jpg');
    background-size: cover;
    background-position-y: -50px;
}

.search-left-top-m{
    width:100%;
    height:20%;
    background-image: url('../img/군대배너이미지1.jpg');
    background-size: cover;
    background-position-y: -50px;
}

.search-left-content{
    position: relative;
    width:100%;
    height:80%;
    background-color: #F7F6DC;
}

.search-left-content-m{
    position: relative;
    width:100%;
    height:100%;
    background-color: #F7F6DC;
}

.search-right-container{
    position: absolute;
    top: 5%;
    left:5%;
    width:90%;
    height:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flag1{
    width:25%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(사관학교\).png');
    background-size: 100% 100%;
    display: none;
}

.flag2{
    width:25%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(학군사관\).png');
    background-size: 100% 100%;
    display: none;
}

.flag3{
    width:25%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(학사장교\).png');
    background-size: 100% 100%;
    display: none;
}

.flag4{
    width:25%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(지원금\).png');
    background-size: 100% 100%;
    display: none;
}

.flag5{
    width:25%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(조종준사관\).png');
    background-size: 100% 100%;
    display: none;
}

.flag1-m{
    width:28%;
    aspect-ratio: 1/1;
    margin-top: 30px;
    background-image: url('../img/플래그\(사관학교\).png');
    background-size: 100% 100%;
    display: none;
}

.flag2-m{
    width:28%;
    aspect-ratio: 1/1;
    margin-top: 30px;
    background-image: url('../img/플래그\(학군사관\).png');
    background-size: 100% 100%;
    display: none;
}

.flag3-m{
    width:28%;
    aspect-ratio: 1/1;
    margin-top: 30px;
    background-image: url('../img/플래그\(학사장교\).png');
    background-size: 100% 100%;
    display: none;
}

.flag4-m{
    width:28%;
    aspect-ratio: 1/1;
    margin-top: 30px;
    background-image: url('../img/플래그\(지원금\).png');
    background-size: 100% 100%;
    display: none;
}

.flag5-m{
    width:28%;
    aspect-ratio: 1/1;
    margin-top: 30px;
    background-image: url('../img/플래그\(조종준사관\).png');
    background-size: 100% 100%;
    display: none;
}

.c-search-button{
    position: absolute;
    bottom:10px;
    left:40%;
    width:17%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url('../img/검색버튼\ .png');
    background-size: 100% 100%;
}

.c-search-button-m1{
    position: absolute;
    bottom:12%;
    left:42.5%;
    width:12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url('../img/검색버튼\ .png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 2px 0.5px;
}

.c-search-button-m2{
    position: absolute;
    bottom:12%;
    left:70.5%;
    width:12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url('../img/뒤로가기.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 2px 0.5px;
}

.c-search-button-m3{
    position: absolute;
    bottom:12%;
    left:14.5%;
    width:12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url('../img/리셋버튼.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 2px 0.5px;
}

.search-left-content-p1{
    text-align: center;
    font-size:1.8vw;
    font-weight: 700;
}

.search-left-content-p2{
    position:absolute;
    top:18%;
    left:15%;
    font-size:1.7vw;
    font-weight: 700;
}

.search-left-content-p3{
    position:absolute;
    top:48%;
    left:15%;
    font-size:1.7vw;
    font-weight: 700;
}

.search-left-content-p1-m{
    text-align: center;
    font-size:3vh;
    font-weight: 700;
}

.search-left-content-p2-m{
    position:absolute;
    top:11%;
    left:15%;
    font-size:2vh;
    font-weight: 700;
}

.search-left-content-p3-m{
    position:absolute;
    top:36%;
    left:15%;
    font-size:2vh;
    font-weight: 700;
}

.search-input-box{
    position: absolute;
    top:25%;
    left:15%;
    width:70%;
    aspect-ratio: 5/1;
}

.search-input-box-m{
    position: absolute;
    top:15%;
    left:15%;
    width:70%;
    aspect-ratio: 5/1;
}

.c-select{
    position: absolute;
    top:55%;
    left:15%;
    width:70%;
    aspect-ratio: 5/1;
}

.c-select-m{
    position: absolute;
    top:35%;
    left:15%;
    width:70%;
    aspect-ratio: 5/1;
}


.left-fade-box{
    position: fixed;
    left:-100%;
    top:70px;
    width:100%;
    height:100%;
    transition: 0.5s ease;
    z-index: 10;
}

.fade-result-box{
    position:fixed;
    top:0%;
    left:-100%;
    width:100%;
    height:100%;
    background-image: url('../img/군대검색배경1.jpg');
    background-size: cover;
    z-index:100;
    transition: 1s ease;
}

.empty-fade-box{
    width:100%;
    height:70px;
}

.fade-result-content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.c-blue{
    color:#334ad0
}

.left-dash-green{
    border-left:dashed 1px #699b37;
}

.left-dash-blue{
    border-left:dashed 1px #254771;
}

.copyright{
    text-align: center;
    width:100%;
    font-size:12px;
}

.copyright2{
    font-size:9px;
}

.c-fade-search{
    width:60px;
    aspect-ratio: 1/1;
    position: fixed;
    left:20px;
    bottom:20px;
    background-image: url('../img/검색버튼\ .png');
    background-size: 100% 100%;
    filter: brightness(0.85);
    z-index: 3;
}

.c-fade-search:hover{
    filter: brightness(0.5);
}

.fade-bottom-empty-box{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
}

