/********** Template CSS **********/
@font-face {
    font-family: '기본';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '기본';
    src: url('../font/calibri-regular.ttf');
    unicode-range: U+0041-005A, U+0061-007A;
}

body{
    font-family: '기본';
}

:root {
    --light: #e2ecee;
    --dark: #181d38;
}


.text-black{
    color:black
}

.banner-empty-box{
    width:100%;
    height:70px;
}

.banner-head{
    position: relative;
    width:100%;
    aspect-ratio: 1/0.4;
    background-image: url('../img/군인2.jpg');
    background-size: cover;
    background-position-y: -100px;
    display: flex;
}

.banner-head-m{
    position: relative;
    width:100%;
    aspect-ratio: 1/0.4;
    background-image: url('../img/군인2.jpg');
    background-size: cover;
    display: flex;
}

.banner-p1{
    position: absolute;
    top: 0;
    left: 15px;
    font-size:3vw;
    font-weight: 700;
}

.banner-p2{
    position: absolute;
    top: 0;
    right: 15px;
    font-size:3vw;
    font-weight: 700;
}

.banner-p1-m{
    position: absolute;
    left: 15px;
    font-size:2vh;
    font-weight: 700;
}

.banner-p2-m{
    position: absolute;
    right: 15px;
    font-size:2vh;
    font-weight: 700;
}



.c-imaging{
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.c-img{
    width:100%;
    height:100%;
    filter: brightness(0.5)
}

.c-1{
    position: relative;
    width:100%;
    aspect-ratio: 1/0.5;
    background-color: #308135;
}

.b-box-2{
    position: absolute;
    top:0%;
    width:100%;
    height:100%;
    z-index: 5;
    display:flex;
    cursor: pointer;
}

.main-menu{
    position: relative;
    width: 25%;
    height: 100%;
    color:white;
}

.main-menu:hover{
    filter: brightness(0.7)
}

.dark{
    filter: brightness(0.7)
}

.b-menu{
    position: absolute;
    top:40%;
    left:22.5%;
    font-size: 4vw;
    font-weight: 700;
    z-index: 1;
}

.m1{
    background-image: url(../img/웹\ 메인메뉴1.png);
    background-size: cover;
}

.m2{
    background-image: url(../img/웹\ 메인메뉴2.png);
    background-size: cover;
}

.m3{
    background-image: url(../img/웹\ 메인메뉴3.png);
    background-size: cover;
}

.m4{
    background-image: url(../img/웹\ 메인메뉴4.png);
    background-size: cover;
}

.c-2{
    width: 100%;
}

.c-2-box{
    position: relative;
    width: 100%;
    aspect-ratio: 2.45/1;
    font-size: 11vw;
    font-weight: 700;
    cursor: pointer;
}

.c-2-cover{
    width:100%;
}

.cb1{
    background-image: url('../img/앱\ 메인메뉴11.png');
    background-size: 100% 100%;
}

.cb2{
    background-image: url('../img/앱\ 메인메뉴22.png');
    background-size: 100% 100%;
}

.cb3{
    background-image: url('../img/앱\ 메인메뉴33.png');
    background-size: 100% 100%;
}

.cb4{
    background-image: url('../img/앱\ 메인메뉴44.png');
    background-size: 100% 100%;
}

.c-3{
    position:relative;
    width:100%;
    aspect-ratio: 1/0.4;
}

.c-3-box{
    position: absolute;
    top:104%;
    left:40%;
    width:20%;
    aspect-ratio: 1/1;
    background-color: #334ad0;
    border-radius: 15px;
    border: 1px black solid;
    background-image: url('../img/돋보기.jpg');
    background-size: 100% 100%;
    box-shadow: 2px 2px 3px 2px #dadce0 inset;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
}

.p-menu{
    position: absolute;
    top: 40%;
    left: 70%;
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
}

.pp1{
}

.bottom-fixed-bar{
    position:fixed;
    bottom:0;
    width:100%;
    height:8%;
    background-color: black;
    z-index: 999;
}

.bottom-fixed-bar-m{
    position:fixed;
    bottom:0;
    width:100%;
    height:8%;
    background-color: black;
    display:flex;
}


.bottom-menu{
    position:relative;
    float:right;
    height:100%;
    width:13%;
}

.bottom-menu-m{
    position:relative;
    height:100%;
    width:33%;
}

.bottom-menu:hover{
    filter:brightness(0.8);
}

.bottom-word{
    position:absolute;
    top:25%;
    left:10%;
    color:white;
    font-size: 1.8vw;
}

.bottom-word-m{
    position:absolute;
    top:25%;
    left:20%;
    color:white;
    font-size: 3.5vw;
}

.bottom-search{
    height:100%;
    aspect-ratio: 1/1;
    background-color: rgb(212, 210, 210);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background-image:url('../img/돋보기.jpg');
    background-size: 100% 100%;
    filter:brightness(0.8);
}



.search-box{
    position: fixed;
    top:0%;
    left:-100%;
    background-color: white;
    width: 100%;
    height:100%;
    z-index: 9999;
    transition: 0.5s ease;
}

.search-left{
    width:30%;
    aspect-ratio: 0.3/0.56;
    background-color: #dedede;
    float: left;
}

.search-right{
    position: relative;
    width:70%;
    aspect-ratio: 1/0.8;
    background-color: #7f9b19;
    background-image: url("../img/군대검색배경1.jpg");
    background-size: cover;
    background-position-y: -200px;
    float: left;
}

.x-button{
    position: absolute;
    bottom:10px;
    right:10px;
    width:10%;
    aspect-ratio: 1/1;
    background-image:url('../img/뒤로가기.png');
    background-size: 100% 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px black;
}

.penta{
    position: absolute;
    border: 1px solid black;
    width:25%;
    height:40%;
}

.s1{
    top: 8%;
    left: 5%;
}

.s2{
    top:8%;
    left:35%;
}

.s3{
    top:8%;
    left:65%;
}

.s4{
    top: 53%;
    left: 20%;
}

.s5{
    top:53%;
    left:51%
}

.white-filter{
    width: 100%;
    height:100%;
    background-color: white;
    opacity: 0.4;
}

.ic-1{
    color:rgb(70, 81, 168) !important;
}

.c-2-img-box{
    position: relative;
    width: 100%;
    background-size: cover;
}


.none_visible{
    display: none;
}

.fix1{
    position: fixed !important;
    top:70.7px;
}

.fix2{
    position: fixed !important;
    top:70.7px;
}

.fix3{
    position: fixed !important;
    top:70.7px;
}

.basic-setting1{
    margin-top: 0px;
}

.basic-setting2{
    margin-top: 0px;
}

.basic-setting3{
    margin-top: 0px;
}

.swiper {
    width: 600px;
    height: 300px;
}

.top-empty-box{
    height:70px;
    width: 100%;
}

.select1{
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    aspect-ratio: 10/1;
}

.select2{
    position:absolute;
    top:30%;
    left:10%;
    width:80%;
    aspect-ratio: 10/1;
}

.fade-search-button{
    position:absolute;
    top:60%;
    left:25%;
    width:50%;
    aspect-ratio: 2/1;
    background-color: white;
    text-align: center;
    font-size: 5vw;
}

.mini-search{
    position: fixed;
    bottom:3%;
    left:3%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url('../img/검색버튼.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 3px 1px #5b5c5e;
}

.mini-search1{
    position: absolute;
    bottom: 3%;
    left: 1.5%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url('../img/검색버튼.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 3px 1px #5b5c5e;
    z-index: 999;
}

.mini-search1:hover{
    filter: brightness(0.6);
}

.fixleft{
    position: fixed;
    left:0% !important;
    top:70px !important;
    transition: 0.5s ease;
}

.fixleft1{
    position: fixed;
    left:0% !important;
    transition: 0.5s ease;
}

.search-left-top{
    width:100%;
    aspect-ratio: 1/0.4;
    background-image: url('../img/군대배너이미지1.jpg');
    background-size: cover;
    background-position-y: -50px;
}

.search-left-content{
    width:100%;
    aspect-ratio:1/1.468;
    background-color: #334ad0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-right-container{
    position: absolute;
    top: 5%;
    left:5%;
    width:90%;
    height:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.plag1{
    width:33%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(사관학교\).png');
    background-size: 100% 100%;
    display: none;
}

.plag2{
    width:33%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(학군사관\).png');
    background-size: 100% 100%;
    display: none;
}

.plag3{
    width:33%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(학사장교\).png');
    background-size: 100% 100%;
    display: none;
}

.plag4{
    width:33%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(지원금\).png');
    background-size: 100% 100%;
    display: none;
}

.plag5{
    width:33%;
    aspect-ratio: 1/1;
    background-image: url('../img/플래그\(조종준사관\).png');
    background-size: 100% 100%;
    display: none;
}

.c-search-button{
    width:20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url('../img/검색버튼.png');
    background-size: 100% 100%;
}


.search-input-box{

}

.c-select{

}