/********** Template CSS **********/
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'NanumBarunpen';
}

:root {
    --light: #e2ecee;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}




/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/군인1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-m {
    margin-top:10%;
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/군인1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/***서비스1***/
.service-item1 {
    background: var(--light);
    transition: 0.8s;
    color: rgb(70, 81, 168);
}

.service-item1:hover {
    margin-top: -15px;
    background: rgb(70, 81, 168);
}

.service-item1 * {
    transition: 0.5s;
}

.service-item1:hover * {
    color: var(--light) !important;
}

/***서비스2***/
.service-item2 {
    background: var(--light);
    transition: 0.8s;
    color: rgb(230, 130, 29);
}

.service-item2:hover {
    margin-top: -15px;
    background: rgb(230, 130, 29);
}

.service-item2 * {
    transition: 0.1s;
}

.service-item2:hover  {
    color: var(--light) !important;
}

/***서비스3***/
.service-item3 {
    background: var(--light);
    transition: 0.8s;
    color: rgb(17, 148, 67);;
}

.service-item3:hover {
    margin-top: -15px;
    background: rgb(17, 148, 67);;
}

.service-item3 * {
    transition: 0.1s;
}

.service-item3:hover  {
    color: var(--light) !important;
}

/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.c-imaging{
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.c-img{
    width:100%;
    height:100%;
    filter: brightness(0.5)
}

.c-1{
    position: relative;
    width:100%;
    aspect-ratio: 1/0.5;
    background-color: #308135;
}

.b-box-2{
    position: absolute;
    top:0%;
    width:100%;
    height:100%;
    z-index: 5;
    display:flex;
    cursor: pointer;
}

.main-menu{
    position: relative;
    width: 25%;
    height: 100%;
    color:white;
}

.main-menu:hover{
    filter: brightness(0.7)
}

.dark{
    filter: brightness(0.7)
}

.b-menu{
    position: absolute;
    top:40%;
    left:13%;
    font-size: 4vw;
    font-weight: 700;
    z-index: 1;
}

.m1{
    background-image: url(../img/웹\ 메인메뉴1.png);
    background-size: cover;
}

.m2{
    background-image: url(../img/웹\ 메인메뉴2.png);
    background-size: cover;
}

.m3{
    background-image: url(../img/웹\ 메인메뉴3.png);
    background-size: cover;
}

.m4{
    background-image: url(../img/웹\ 메인메뉴4.png);
    background-size: cover;
}

.c-2{
    width: 100%;
}

.c-2-box{
    position: relative;
    width: 100%;
    aspect-ratio: 2.45/1;
    font-size: 11vw;
    font-weight: 700;
    cursor: pointer;
}

.c-2-cover{
    width:100%;
}

.cb1{
    background-image: url('../img/앱\ 메인메뉴11.png');
    background-size: 100% 100%;
}

.cb2{
    background-image: url('../img/앱\ 메인메뉴22.png');
    background-size: 100% 100%;
}

.cb3{
    background-image: url('../img/앱\ 메인메뉴33.png');
    background-size: 100% 100%;
}

.cb4{
    background-image: url('../img/앱\ 메인메뉴44.png');
    background-size: 100% 100%;
}

.c-3{
    position:relative;
    width:100%;
    aspect-ratio: 1/0.4;
}

.c-3-box{
    position: absolute;
    top:104%;
    left:40%;
    width:20%;
    aspect-ratio: 1/1;
    background-color: #334ad0;
    border-radius: 15px;
    border: 1px black solid;
    background-image: url('../img/돋보기.jpg');
    background-size: 100% 100%;
    box-shadow: 2px 2px 3px 2px #dadce0 inset;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
}

.p-menu{
    position: absolute;
    top: 40%;
    left: 70%;
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
}

.pp1{
}

.bottom-fixed-bar{
    position:fixed;
    bottom:0;
    width:100%;
    height:8%;
    background-color: black;
    z-index: 999;
}

.bottom-fixed-bar-m{
    position:fixed;
    bottom:0;
    width:100%;
    height:8%;
    background-color: black;
    display:flex;
}


.bottom-menu{
    position:relative;
    float:right;
    height:100%;
    width:13%;
}

.bottom-menu-m{
    position:relative;
    height:100%;
    width:33%;
}

.bottom-menu:hover{
    filter:brightness(0.8);
}

.bottom-word{
    position:absolute;
    top:25%;
    left:10%;
    color:white;
    font-size: 1.8vw;
}

.bottom-word-m{
    position:absolute;
    top:25%;
    left:20%;
    color:white;
    font-size: 3.5vw;
}

.bottom-search{
    height:100%;
    aspect-ratio: 1/1;
    background-color: rgb(212, 210, 210);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background-image:url('../img/돋보기.jpg');
    background-size: 100% 100%;
    filter:brightness(0.8);
}



.search-box{
    position: fixed;
    top:0%;
    left:-100%;
    background-color: white;
    width: 100%;
    height:100%;
    z-index: 9999;
    transition: 0.5s ease;
}

.search-left{
    width:30%;
    aspect-ratio: 0.3/0.56;
    background-color: #dedede;
    float: left;
}

.search-right{
    position: relative;
    width:70%;
    aspect-ratio: 1/0.8;
    background-color: #7f9b19;
    background-image: url("../img/군인2.jpg");
    background-size: cover;
    float: left;
}

.x-button{
    position: absolute;
    bottom:15.4%;
    right:0%;
    width:5%;
    height:7%;
    background-image:url('../img/뒤로가기.png');
    background-size: 100% 100%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.penta{
    position: absolute;
    background-color: #334ad0;
    width:25%;
    height:40%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
}

.s1{
    top: 8%;
    left: 5%;
}

.s2{
    top:8%;
    left:35%;
}

.s3{
    top:8%;
    left:65%;
}

.s4{
    top: 53%;
    left: 20%;
}

.s5{
    top:53%;
    left:51%
}

.white-filter{
    width: 100%;
    height:100%;
    background-color: white;
    opacity: 0.6;
}

.ic-1{
    color:rgb(70, 81, 168) !important;
}

.c-2-img-box{
    position: relative;
    width: 100%;
    background-size: cover;
}


.none_visible{
    display: none;
}

.fix1{
    position: fixed !important;
    top:70px;
}

.fix2{
    position: fixed !important;
    top:70px;
}

.fix3{
    position: fixed !important;
    top:70px;
}

.basic-setting1{
    margin-top: 55px;
}

.basic-setting2{
    margin-top: 3px;
}

.basic-setting3{
    margin-top: 37.6px;
}

.swiper {
    width: 600px;
    height: 300px;
}

.top-empty-box{
    height:70px;
    width: 100%;
}

.select1{
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    aspect-ratio: 10/1;
}

.select2{
    position:absolute;
    top:30%;
    left:10%;
    width:80%;
    aspect-ratio: 10/1;
}

.fade-search-button{
    position:absolute;
    top:60%;
    left:25%;
    width:50%;
    aspect-ratio: 2/1;
    background-color: white;
    text-align: center;
    font-size: 5vw;
}

.mini-search{
    position: fixed;
    bottom:3%;
    left:3%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url('../img/검색버튼.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 3px 1px #5b5c5e;
}

.mini-search1{
    position: absolute;
    bottom: 3%;
    left: 1.5%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url('../img/검색버튼.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px 3px 1px #5b5c5e;
    z-index: 999;
}

.mini-search1:hover{
    filter: brightness(0.6);
}

.fixleft{
    position: fixed;
    left:0% !important;
    top:70px !important;
    transition: 0.5s ease;
}

.fixleft1{
    position: fixed;
    left:0% !important;
    transition: 0.5s ease;
}
